<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc-test:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_test_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc-test/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc-test" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.2" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: junit:junit:4.13" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.3" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.7" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.7" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.7" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.7" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.7" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.7" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.7" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.7" />
        </element>
      </element>
      <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.9.0" />
      <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.9.8" />
      <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.9.8" />
      <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.2" />
      <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
      <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
      <element id="library" level="project" name="Maven: junit:junit:4.13" />
      <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.49" />
      <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.3" />
      <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.7" />
      <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.7" />
      <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.7" />
      <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.7" />
      <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.7" />
      <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.7" />
      <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.7" />
      <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.7" />
      <element id="library" level="project" name="mysql-connector-java-5.1.30" />
      <element id="library" level="project" name="mysql-connector-java-5.1.30 (2)" />
    </root>
  </artifact>
</component>