<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwolf.dao.EmployeeMapper">
    <!--
            namespace:名称空间
            id:唯一标识
            resultType:返回值类型
            #{empId}:从传递过来的参数取出empId值
     -->
    <select id="selectEmployee" resultType="com.gwolf.bean.Employee">
        select * from tbl_emp where emp_id = #{empId}
    </select>
</mapper>