<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huadi.mapper.OrderMapper">

<!--    建立实体bean和数据库字段的对应关系-->
    <resultMap id="orderMap" type="com.huadi.pojo.Order">
        <result property="order_id" column="o_id"></result>
        <result property="order_name" column="o_name"></result>
        <result property="order_price" column="o_price"></result>
        <result property="order_date" column="o_date"></result>
    </resultMap>
<!--    查询订单-->
    <select id="getOrderList" resultMap="orderMap">
        select * from order2
    </select>
<!--    添加订单-->
    <insert id="insertOrder" parameterType="com.huadi.pojo.Order" >
        insert into order2(o_name,o_price,o_date) values (#{order_name},#{order_price},#{order_date})
    </insert>
<!--删除订单-->
    <delete id="deleteOrder" parameterType="Integer">
        delete from order2 where o_id = #{value}
    </delete>
<!--修改订单-->
    <update id="updateOrder" parameterType="com.huadi.pojo.Order">
        update order2 set o_name = #{order_name},o_price = #{order_price},o_date = #{order_date} where o_id = #{order_id}
    </update>
</mapper>   