<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/user/update">
        编号:<input type="text" name="id"><br>
        姓名:<input type="text" name="name"><br>
        出生日期:<input type="date" name="birthday" pattern="yyyy-MM-dd"><br>
        薪水:<input type="text" name="salary"><br>
        <button type="submit">提交</button>
    </form>

    <div th:if="${model != null}">
        编号:<span th:text="${id}"></span>
        姓名:<span th:text="${name}"></span>
        出生日期:<span th:text="${birthday}"></span>
        工资:<span th:text="${salary}"></span>
    </div>
</body>
</html>