<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 实体类,简称 -设置别名 -->
    <typeAliases>
        <typeAlias alias="User" type="com.huadi.pojo.User" />
    </typeAliases>
    <!-- 实体接口映射文件 -->
    <mappers>
        <mapper resource="mapper/userMapper.xml" />
        <mapper resource="mapper/orderMapper.xml" />
    </mappers>

</configuration>
