<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.sys.mapper.AccountMapper">

    <!--转入得我方法-->
    <update id="transferIn" >
        update  account set money = money + #{money} where username = #{name}
    </update>

    <!--转出的方法-->

    <update id="transferOut" >
        update  account set money = money - #{money} where username = #{name}
    </update>
</mapper>