<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">


    <!--开启注解支持-->
    <context:annotation-config/>
    <bean id="cat" class="pojo.Cat"/>
    <bean id="dog" class="pojo.Dog"/>
    <bean id="people" class="pojo.People"/>

<!--    <bean id="people" class="com.bao.domain.People">
        <property name="name001" value="王五"/>
        <property name="dog" ref="dog"/>
        <property name="cat" ref="cat"/>
    </bean>-->

    <!--byName:会自动在容器的上下文中查找和自己对象set方法后面的属性名对应的beanid-->
<!--    <bean id="people" class="com.bao.domain.People" autowire="byName">
        <property name="name001" value="赵六"/>

    </bean>-->

    <!--byType:会自动在容器的上下文中查找和自己对象属性类型相同的bean-->
<!--    <bean id="people" class="com.bao.domain.People" autowire="byType">
        <property name="name001" value="刘一"/>
    </bean>-->

</beans>