<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.dao.UserMapper">
    <select id="getUser" parameterType="String" resultType="User">
        select * from smbms.smbms_user where userCode=#{usercode}
    </select>

    <update id="updatePwd" parameterType="String">
        update smbms.smbms_user
        set userPassword=#{password}
        where userCode=#{userCode}
    </update>

    <select id="getUserCount"  resultType="int">
        select count(*) from smbms.smbms_user u,smbms.smbms_role r where u.userRole = r.id
            <if test="userName != null">
                and u.userName like CONCAT('%',#{userName},'%')
            </if>
            <if test="userRole > 0">
                and u.userRole like CONCAT('%',#{userRole},'%')
            </if>
    </select>

    <select id="getUserList"  resultType="User">
        select u.*,r.roleName as userRoleName from smbms.smbms_user u,smbms.smbms_role r where u.userRole = r.id
        <if test="userName != null">
            and u.userName like concat('%',#{userName},'%')
        </if>
        <if test="userRole != 0">
            and u.userRole like concat('%',#{userRole},'%')
        </if>
        order by u.creationDate DESC limit #{currentPageNo},#{pageSize}
    </select>

    <select id="getRoleList"  resultType="Role">
        select * from smbms.smbms_role
    </select>

    <insert id="addUser" parameterType="User">
        insert into smbms.smbms_user(id, userCode, userName, userPassword, gender, birthday, phone, address, userRole, createdBy, creationDate, modifyBy, modifyDate)
        values(#{id},#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate})
    </insert>

    <delete id="deleteUserById" parameterType="Integer">
        delete from smbms.smbms_user where id=#{id}
    </delete>

    <update id="modify" parameterType="User">
        update smbms.smbms_user
        set userName = #{userName},gender = #{gender},birthday = #{birthday},phone = #{phone},address = #{address},userRole = #{userRole},modifyBy = #{modifyBy},modifyDate = #{modifyDate}
        where id = #{id}
    </update>
</mapper>
