<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.scitc.studentmanager.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.com.scitc.studentmanager.pojo.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    </resultMap>

    <select id="selectUserByToken" resultType="cn.com.scitc.studentmanager.pojo.User">
        select * from user where id = (select user_id from token where token = #{token})
    </select>

    <select id="findPassWordByUsername" resultType="java.lang.String">
        select password from user where username = #{username}
    </select>

    <insert id="createToken">
        insert into token values (#{token},#{user_id})
    </insert>

    <select id="findIdByUsername" resultType="int">
        select id from user where username = #{username}
    </select>

    <delete id="cleanToken">
        delete from token
    </delete>

</mapper>