.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.header{
    width: 1920px;
    height: 130px;
    background-color: lightblue;
}

.menu{
    width: 1920px;
    height: 45px;
    background-color: #0082E0;
    color: #fff;
}

.menu ul>li{
    width: 90px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    padding-bottom: 5px;
    margin-right: 37px;
    text-align: center;
    float:left;
}

.menu ul>li:hover{
    cursor: pointer;
    background-color: #339BE6;
}

.menu ul.clearfix{
    margin-left: 450px;
}

.banner{
    width: 1920px;
    height: 525px;
    background-color: lightblue;
}

.banner img{
    width: 1920px;
    height: 525px;
}

.list{
    width: 1100px;
    height: 170px;
    margin: 0 auto;
    position: relative;
    left: 125px;
}

.list span{
    font-size: 18px;
    color: #666;
    margin-left: 20px;
    letter-spacing:2px
}

.list div{
    margin-top: 10px;
    width: 500px;
}

.list div.left{
    float: left;
}

.list div.right{
    float: right;
}

.list div li{
    font-size: 13px;
    color: #555;
    margin-top: 15px;
}

.list div li:hover{
    color: #f00;
}

.list div ul{
    margin-top:25px;
}

.footer{
    width: 1920px;
    height: 25px;
    background-color: #969696;
    text-align: center;
    font-size: 12px;
    color: #252525;
    margin-top: 30px;
}

.footer div{
    width: 1000px;
    margin: 0 auto;
    padding-top: 5px;
}

