<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc-07-intercepter:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_07_intercepter_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc-07-intercepter/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc-07-intercepter" />
        </element>
      </element>
    </root>
  </artifact>
</component>