<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .active{
        border: 2px solid red;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<body>
<div id="app">
    <!-- 法一：直接使用布尔值 -->
    <img src="./01.png" v-if="true">
    <!-- 法二：使用data中存放的布尔值 -->
    <img src="./01.png" v-if="isShow">
    <!-- 法三：通过判断得到布尔值 -->
    <img :src="imgSrc" v-if="age<=18">
    <button @click="changeShow">切换</button>
    <!-- 通过对象的方式操作类 -->
    <img src="./01.png" :class="{active:isBorder}" @click="changeBorder">
</div>
<script>
    new Vue({
        // el挂载点用于锁定元素,相当于css选择器
        el: '#app',
        //data对象用于存放键值对数据，可用直接用键名获取数据
        data: {
            message: 'Hello Vue.js!',
            isShow: "true",
            isBorder: "true",
            age: 16,
            imgSrc: "./01.png"
        },
        methods: {
            changeShow:function(){
                this.isShow =!this.isShow;
            },

            changeBorder:function(){
                this.isBorder =!this.isBorder;
            }
        }
    })
</script>
</body>
</html>